.maingrid{
    display: grid;
    height: 100vh;
    grid-template-columns:repeat(8,auto);
    
     gap: 30px;
    }
    .maingrid div{
        background-color:greenyellow;
        border: 5px solid black;
    }
    
    @media screen and (min-width:400px) and (max-width:800px){
        .maingrid{
            grid-template-columns: repeat(2,auto);
        }
        
    }
    
    @media screen and (max-width:399px){
        .maingrid{
    
            grid-template-columns: repeat(1,auto);
        }
    
    }
       
    
    
    
    
        
    