.container{

    display: flex;
    background-color: pink;
    justify-content: space-evenly;
    text-align: center;
}
.container ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.container label{
    display: none;
}

@media screen and (max-width: 650px) { 
    .container label {
display: block;
    }
}

.container ul{
    display: none;
}

#check:checked~.container ul{
    display: block;
}